.foo-bar {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  max-width: 400px;
  padding: 10px 20px;
}
